<form action="#" method="post">

<p>Kullanıcı Adı</p>
<input type="text" class="name" name="Kullanici" required="" />
<p>Şifre</p>
<input type="password" class="password" name="Sifre" required="" />

<label class="anim">
    <input type="checkbox" class="checkbox" />
    <span>Beni Hatırla?</span>
</label>

<br />
<input type="submit" value="Login" />

</form>
@*
    Form oluşturarak içerisine textboxları oluşturuyoruz yapı da önemli kısımlardna bir tanesi
    name kısımları modelsteki tanımlama ile aynı olmak zorunda 
    button içerisindeki name kısmıda controller kısmı ile aynı olmak zorunda
*@